# --- Byte-compiled / optimized / DLL files ---
__pycache__/
*.py[cod]
*$py.class

# --- Cirtual Environments ---
venv/
env/
.env

# --- Database ---
*.sqlite3
*.db
migrations/

# --- IDE settings ---
.idea/
.vscode/

# --- FIREBASE & SECURITY (CRÍTICO) ---
serviceAccountKey.json
*.pem
*.key

# --- Logs ---
*.log